nav{
    padding: 1.3% 10%;
    background-color: #1c2025;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
}
ul li{
    margin: 0 0.9vw;
}
ul li a {
    text-decoration: none;
    color: #f2f2f2; /* Text color for links */
    font-weight: 400;
    font-size: 0.9vw;
}
nav h1{
    font-size: 1.3vw;
}