.nav_contianer{
    margin: auto;
    width: 80%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}
.nav_logo{
    width: 100px;
}
.nav_logo img{
    width: 100%;
    object-fit: contain;
}
.nav_links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3;
}
.links a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #f2f2f2;
    margin-inline: 15px;
    font-weight: 500;
}
.links a::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #10637D;
    transition: all 0.6s ease;
}
.links a:hover::after{
    width: 100%;
}

@media (max-width: 768px) {
    .nav_container {
      flex-direction: column;
    }
  
    .nav_links {
      display: none;
    }
  
    .btn.hamburger {
      display: block;
    }
  
    .btn.hamburger::after {
      content: '\2630'; /* Display a hamburger icon (☰) */
    }
  
    .active .nav_links {
      display: flex;
    }
    .nav_logo{
        display: none;
    }
  }