.footer {
    background-color: #1C2025;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo{
    width: 80px; /* Adjust the logo size as needed */
  }
  .text {
    text-align: left;
  }