
:root {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color: #f2f2f2;
  background-color: #1C2025;

  -webkit-font-smoothing: antialiased;

  
  
}
/* img{
  width: 100%;
  display: flex;
} */

a{
  text-decoration: none;
}

