/* 
FONT SIZES
TITLE 3vw H1 
SUBTITLE 1.5vw H2
BODY 0.9vw p
 */


/* ABOUT */
.all_container{
    padding: 2.5% 0;
    width: 80%;
    min-height: 30vh;
    margin: 10% auto;
}
.all_container h2{
    font-size: 1.5vw;
    margin-bottom: 2%;
}
.all_container p{
    font-size: 0.9vw;
    color: #f2f2f2;
    padding-right: 20%;
    line-height: 1.5;
}
.skills_container{
    display: flex;
}
/* ICONS */
.icons_container{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 5% 0;
}
.icons{
    width: 45px;
    height: 45px;
}
.icons img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* CARD CSS */
.card_container{
    display: flex;
    flex-wrap: wrap;
    padding: 2.5% 0;
}
.card{
    width: 32%;
    min-width: 30%;
    background-color: #1c2025;
    margin: 5px;
}

/* CARD CSS CARD */
.card_image{
    width: 100%;
    height: 300px;
}
.card_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card_title{
    padding: 2%;
}
.card_title h3{
    font-size: 1.3vw;
    color: #10637d;
}
.card_title p{
    font-size: 0.9vw;
}

/* FORMS */
.form_group{
    width:100%;
}
.form_group input{
    width:99%;
    height: 50px;
    margin: 10px .5%;
    border-radius: 5px;
    border: none;
    background-color: #1C2025;
}
.form_group textarea{
    width:99%;
    height: 250px;
    margin: 10px .5%;
    border-radius: 5px;
    border: none;
    resize: none;
    background-color: #1C2025;
}
.form_group textarea::placeholder{
    font-size: 1vw;
    padding: 0.5vw;
    color: #f2f2f2;
}
.form_group input::placeholder{
    font-size: 1vw;
    padding: 0.5vw;
    color: #f2f2f2;
}
.form_group_flex{
    display: flex;
    justify-content: space-between;
}
.form_group_flex input{
    width: 49%;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin-inline: auto;
    background-color: #1C2025;
}
.btn_form{
    padding: 8px 16px;
    text-transform: uppercase;
    font-size: 0.9vw;
    font-weight: bold;
    width: 10vw;
    margin: 1% 0.5%;
    color: #27282f;
    background-color: #10f0fc;
    border: none;
    transition: 0.5s linear;
}
.btn_form:hover{
    background-color: #10637d;
    color: #f2f2f2;
}